/*** FONTS ***/

@font-face {
    font-family: 'lato';
    src: url('fonts/lato.woff2?#iefix') format('woff2'),
         url('fonts/lato.woff') format('woff'),
         url('fonts/lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMono'; 
    src: url(fonts/RobotoMono.ttf) format("ttf"), 
    url('fonts/RobotoMono.woff') format('woff'),
    url('fonts/RobotoMono.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'Roboto'; 
    src: url(fonts/Roboto.ttf) format("ttf"),
    url('fonts/Roboto.woff') format('woff'),
    url('fonts/Roboto.ttf') format('truetype');    
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'RobotoSlab'; 
    src: url(fonts/RobotoSlab.ttf) format("ttf"),
    url('fonts/RobotoSlab.woff') format('woff'),
    url('fonts/RobotoSlab.ttf') format('truetype');       
    font-weight: normal; 
    font-style: normal;
}

/*** reset ***/
html,body {margin:0;padding:0} 
ul li {list-style: none; color: #7D7D7D}
body {font-family: 'Roboto';}
p {
    font-size: 16px;
    line-height: 27px;
    font-family: "Roboto", Georgia, "Times New Roman", serif;
    color: #7D7D7D;
}
a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: "RobotoSlab", Georgia, "Times New Roman", serif;
}
a:hover {
    color: #E17B32;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "RobotoSlab", Georgia, "Times New Roman", serif; 
    color: #333;
}
h1 {font-size: 48px;}
h2 {font-size: 40px; line-height:40px; color: #2A609E} 
h3 {font-size: 30px;}
h4 {font-size: 22px; font-weight: 700; color: RGB(51, 102, 153)!important;line-height: 1.5em;}
h5 {font-size: 15px;}
h6 {font-size: 13px; color: #fff; font-family: "Roboto-Thin", "sans-serif"; font-weight: 100; text-align: center;}
.short {line-height: 1em; padding-top: 0;}
/*** tools ***/
.wb {background-color: #fff;}
.bb {background-color: #000;}
.f6 {background: #F6F6F6;}
.wt {color: #fff;}
.bk {color: #000;} 
.or {color: #e17b32;}
.blue {color: #336699;}
.marge {width: 80%; margin: auto;}
.center {text-align: center!important;}
.txtright {text-align: right!important;}
.txtleft {text-align: left!important;}
.justify {text-align: justify;}
.auto { margin: auto;}
.zero {margin: 0;}
.img_wrap {
    display: inline-block;
    position: relative;
    max-width: 100%;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}

/*** row ***/
.row {
    display: flex;
}
.shade {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.wrap {
    flex-wrap: wrap;
}
.start {
    align-items: flex-start;
}
.end {
    align-items: flex-end;
}
/*** col ***/
.col {
    display: flex;
    flex-direction: column;
}
.flex2 {
    width: 45%;
    margin: 0 auto;
}
.flex3 {
    width: 33.33333333333333%;
    margin: 0 auto;
}
.flex4 {
    width: 20%;
    margin: 0 auto;
}
body#home {background-color: #FBFBFD;}
body {background-color: #fff!important;}
/**********end tools************/

.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
    /*** HEADER ***/
header {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
    /*** logo ***/
.logo_img {
    height: 100%;
    width: 40%;
    padding-left: 30px;
}
.logo_laplateforme {
    width: 65%;
    max-height: 50%;
    margin-bottom: 0;
    max-height: 50%;
    display: inline-block;
    vertical-align: middle;
}
    /*** top_menu/nav ***/
#top_menu_nav {
    font-family: 'RobotoSlab',Georgia,"Times New Roman",serif;
}
nav.top-menu-nav {
    z-index: 999999;
}
#top_menu {
    font-weight: 500;
}
#top_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
#top_menu a {
    color: rgba(0,0,0,.6);
    text-decoration: none;
    display: block;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%
} 
nav li {    
    text-align: center;
    margin: auto;
    word-wrap: break-word;
  
    position: relative;
    line-height: 1em;
    }

    nav li li a {
        padding: 6px 20px;
        width: 200px;
    }
nav a {
    display: block;
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
    /*** sub_menu ***/
nav ul li ul {
    display: none;
}
nav ul li:hover ul {
    display:block;
}
nav li:hover ul li {
    float:none; 
    background: #fff;
    width: 230px;
    margin-left: -90px;;
}
nav li ul {
    position:absolute;
    padding: 20px 0;
    border-top:RGB(51, 102, 153);
}
/*** search icon ***/
#top_search {
    float: right;
    margin: 3px 0 0 22px;
    position: relative;
    display: block;
    width: 18px;
}
#search_icon {
    font-family: ETmodules!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0;
    direction: ltr;
}
#search_icon::before {

    z-index: 99;
    opacity: 1;
    -webkit-animation: fadeInBottom 1s cubic-bezier(.77,0,.175,1) 1;
    animation: fadeInBottom 1s cubic-bezier(.77,0,.175,1) 1;
    content: \U+1F50D;
    font-size: 17px;
    left: 0;
    position: absolute;
    top: -3px;
}
#search_icon:hover {
    cursor: pointer;
}
    /*** end nav ***/

    /*** HERO ***/
.hero {
    align-items: normal;
    flex-wrap: nowrap;
}
.hero_img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
    /*** left ***/
.left {
    width: 50%;
    background-color: #336699;   
    justify-content: center;
}
.hero_txt {  
    padding-top: 85px;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-left: 20%;
}
.hero_txt p {
    font-size: 25px;
    text-align: justify;
    font-family: "RobotoSlab", Georgia, "Times New Roman", serif;
    color: #fff;
    margin: auto;
    line-height: 30px;
}
    /*** right ***/
.right {
    width: 50%;
}
.right img {
    position: relative;
}
/*** buttons ***/
.btn_accueil {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
}
button {
    color: #ffffff!important;
    border-width: 2px!important;
    border-color: #ff2063;
    border-radius: 100px;
    letter-spacing: 1px;
    font-size: 23px;
    line-height: 37.4px;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #ff2063;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    transition: all 300ms ease 0ms;
}
button>a {
    display: inline-block;
}
button:hover {
    padding-right: 1em!important;
    padding-left: 1em!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 300ms ease 0ms;
}
.button_contact_bottom {
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    height: 40px;
    font-size: 18px;
    padding: 0.3em 1em 2em ;
    line-height: 1.7em!important;
    background-color: transparent!important;
    border: 2px solid!important;
    border-radius: 3px;
    margin: auto;
}
.button_yellow {
    position: relative;
    color: #ffffff!important;
    border-width: 0!important;
    border-color: #ffca4b;
    border-radius: 100px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #ffca4b;
    margin: 20px 0 20px 0;
    padding: 0.6em 1em;
    line-height: 1.7em!important;
}
.button_yellow a {
    display: inline-block;
    text-align: center;    
}
.speciality {
    color: #336699;
    display: flex;
    flex-flow: row;
}
/*** 3 colonnes bleus ***/
.col_1 p, .col_2 p, .col_3 p { 
    color: #336699!important;
}
    .col_1, .col_2, .col_3 {
    padding: 2%;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    color: #336699!important;
    margin: 3%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.col_1 img, .col_2 img, .col_3 img {
    margin:auto;
    width: 100px;
    height: 100px;
}
.comments {
    padding: 3%;
    background: #FFA000;
    color: #fff;
}
.comments h2 {
    text-align: center;

}
.comments p {
    text-align: center;
    
}
/***  blurb ***/
.blurb {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    color: #336699!important;
    background-color: #ffffff;
    padding-top: 5%!important;
    padding-right: 40px!important;
    padding-bottom: 15px!important;
    padding-left: 40px!important;
    box-shadow: 0px 0px 60px 0px rgb(71 74 182 / 12%);
}
.blurb_in {
    max-width: 1100px;
    text-align: left;
    word-wrap: break-word;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

    /*** footer ***/
/*** video ***/
.videos {
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.video2 {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}
.video3 iframe {
    display: block;
    width: 33,333333333333%;
    margin: auto;

}

    /*** callto ***/
.callto {
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.img_left {
    width: 100px;
    height: 100px;
    padding: 2%;
}
.text_right p, .txt_right h3 {
    text-align: justify;
    color: #336699!important;
}
/*** footer ***/
footer {   
    clear: both;
    background: #313131!important;
    line-height: 2;
    color: #fff!important;
}
.mentions {
    padding: 3% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*** social ***/
.social {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 3% 0 0 3%;
    margin: auto;
}
/*** logo_laplateforme_footer ***/
.logo_laplateforme_footer {
    display: block;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul.social_icons  {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social_icons img {
    height: 32px;
    width: 32px;
    padding-right: 10px;
}
.youtube {
    height: 32px;
    width: 32px;
    color: #fff;
}

/*** logo April ***/
.april {
    margin: 10% auto;
    width: 150px;
    height: auto;
}
/*** bouton contact ***/
.contact_home {
    flex-basis: 20%;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-top: 1%; 
}
.contact h1, .contact h2 {
    font-family: "RobotoMono", "RobotoSlab", Georgia, "Times New Roman", serif;
    font-size: 42px;
}
/*** bottom_nav ***/
.bottom_nav {
    color: #fff;
    text-align: left;
    flex-basis: 20%;
}
.bottom_nav h4 {
    color: #fff!important;
}
.bottom_nav ul li a {
    color: #fff!important;
}
/*** ligne de mentions ***/
.credentials {
    font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    height: 60px;
    margin-top: 0;
    background-color: #000;
}
.credentials h5 {
    background-color: #000;
    color: #fff!important;
    line-height: 62px;
    font-weight: 300;
}

/**********************************************/
/********** PAGE QUI SOMMES-NOUS **************/
/**********************************************/
.section_1 {
    width: 80%;
    padding-top: 14px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: auto;
}
.brands {
    justify-content: center;
    gap: 5%;
}
.brand {
    padding: 27px 0;

}
.brand img {
    display: block;
}
.media  {
    display: block;
    clear: both;
    margin: 0 auto 15%;
}

/**********************************************/
/*************** PAGE AWS RESTART **************/
/**********************************************/

/*** buttons ***/
.button_aws_1 {
    color: #ffffff!important;
    border-width: 0px!important;
    border-radius: 1px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    background-color: #e17b32;
    margin: 0 0 2%;
    padding: 1% 2%;
    transition: all 300ms ease 0ms;
    text-align: center;
}
.button_aws_1 a {
    text-align: center;
}
.logo_lptf{
    width:260px;
    margin: 0 0 2% 0;
    padding: 2% 0;
}
img.logo_aws {
    width: 157px;
    margin-top: -91%;
    margin-left: 30%;

}
.puces {
    list-style: circle!important;
}
/*** section hero ***/

section.aws {
    width: 100vw;
    background-color: #000;
    background-position: right;
    color: #fff;

 }
 .aws_hero {
    justify-content: space-around;
    gap: 34%;
 }
 .aws_back {  
    padding: 2% 0;
    background: url(img/landing-aws.jpg) no-repeat;
    background-size: initial;
    background-position: bottom right;
    min-height: 450px;  

 }
.case {
    margin: 0 5%;
}
.case img {
    width: 120px;
    height: 120px;
    margin: auto;
    text-align: center;
}
/*** section cloud ***/
.aws_cloud {    
    background-color:#E17B32;
    padding: 3% 0;
}
.title {
    justify-content: center;
    font-size: 32px;
    font-family: "RobotoSlab", Georgia, "Times New Roman", serif;
    text-align: center;
}
/*** section info ***/
.aws_info {
    background: #F2F2F2;
    padding: 5% 0 ;
}
.aws_img {
    margin: 0 2%;
    text-align: center;
}.aws_img1 {
    width: 427px;
    height: 214px; 
}
/*** section amazon ***/
.amazon {
    width: 30%;
    margin: 5% auto;
}
.amazon ul {
    padding: 0 5%;
}
/*** section aws formations ***/
.aws_formation {
    background: #F2F2F2;
}

/***************************************/
/*************** PAGE NEWS **************/
/***************************************/

/*** section hero ***/
section.news_hero {
    padding: 0;
    background-color: #275fa0!important;
 }
 .news_row {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 7%;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .news_2col h2 { 
    text-align: left;
    padding: 2%
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

 .news_3col {
    display: flex;
    margin: auto;
 }
 .news_card {
    padding: 0;
    margin: 20px;
    flex-basis: 30,3333%!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
 }
 .news_card h4 {
    padding: 0 10%;
 }
 .news_card img {
    width: 320px;
    height: 200px;
    object-fit: cover;
 }

 .news_container {
    width: 320px;
    margin: auto;
 }
 .news_title {
    padding: 5%;
    text-align: justify;
 }
 .news_title p {
    padding: 2%;
 }
 /*******************************************/
/*************** PAGE CONTACT **************/
/*******************************************/
.container_contact {    /*** boite la + exterieure pour modifier le fond ***/
    margin: 2% 0 0 0;
    padding: 0;
    color: #0c71c3;
}
.bluebg {
    background-color: #88C1D0; 
    background-size: 50%; 
    padding: 2% 0; 
}
.title_contact {
    font-family: "RobotoMono", "RobotoSlab", Georgia, "Times New Roman", serif;
    line-height: 34px;
    color: #fff;
    text-align: center;
}
.sub-title_contact {
    font-family: "RobotoMono", "RobotoSlab", Georgia, "Times New Roman", serif;
    line-height: 34px;
    color: #275FA0;
    text-align: left;
    padding-top: 2%;
    padding-left: 2%;
}
ul.formul {
    width: 100%;
}
p input {
    width: 90%;
    clear: both;
}
#message {
    width: 90%;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(71,74,182,0.12);
}
.contact_select {
    padding: 16px 20px 16px 16px;
    background-color: #fff;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-width: 1px;
    border-color: rgba(71,74,182,0.12);
}
input {
    color: #0c71c3;
    font-size: 16px;
    padding: 16px 20px 16px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(71,74,182,0.12);
}
.subscribe__checkbox {
    text-align: left;   
    padding: 2%; 
}
.subscribe__checkbox input {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(71,74,182,0.12);

}
.contact_send_box {
    float: right;
    text-align: right;
    margin-top: -0.5%;
    margin-right: 4%;
    display: flex;
}
.contact_send {
    color: #ffffff!important;
    border-width: 10px!important;
    border-color: #275fa0;
    border-radius: 100px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #275fa0;
}
.pad {
    box-shadow: rgba(24, 22, 34, 0.25) 0px 25px 0 -12px;
    z-index: 999999;
    display: block;
}
.map {
    background: #fff;
    margin-top: -10%;
    padding-top: 15%;
    z-index: -10;
}
.social_icons {
    margin-left: 5%;
}
i.fa-brand a {
    margin-right: 1%;
}
i.fa-brands.fa-square-facebook {
    color: #275fa0;
}
i.fa-brands.fa-linkedin {
    color: #007BB6;
}
i.fa-brands.fa-square-twitter {
    color: #1DA1F2;
}
i.fa-brands.fa-square-instagram {
    color: #C13584;
}
.google_map iframe {
    width: 80%;
    margin: auto;
    padding: 0;
    background-color: rgb(229, 227, 223);
}
.brochure h3{
    color: #275fa0;
    font-family: 'RobotoMono';
    margin-left: 10%;
}